name: Spotless Code Formatter

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  spotless:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Run Spotless Check
        run: mvn --batch-mode spotless:check
